.wrapper {
  width: 100vw;
  height: 100vh;
  background: url('/images/FONDO_WEB_01.jpg') no-repeat center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.logoContainer {
  margin: 10px 0;
}

.firstLogo {
  width: 250px;
  height: auto;
}

.secondLogo {
  width: 500px;
  height: auto;
}

.logoContainerThird {
  width: 20%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}

.thirdLogo {
  width: 200px;
  margin-top: 10px;
  height: 30px;
}

.qrImage {
  width: 400px;
  height: auto;
}
