  .wrapper {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, white, transparent), url('/images/EXPERIENCIA_PULMONES_FONDO.png') no-repeat center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .boxOne {
    position: absolute; 
    top: 0; 
    left: -250px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
  }

  .boxTwo {
    position: absolute; 
    top: 0; 
    right: -300px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
  }

  .imageBottomOne {
    position: absolute; 
    bottom: 20px; 
    left: -250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .imageBottomTwo {
    position: absolute; 
    bottom: 20px; 
    right: -250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logoContainer {
    margin: 10px 0;
  }

  .logoConquer {
    width: 120px;
    margin: 10px 0;
  }

  .logoCancer {
    width: 320px;
    height: auto;
    margin: 0 auto;
  }

  .logoAsociacion {
    width: 230px;
    height: auto;
    margin: 0 auto;
  }

  .qrImage {
    width: 200px;
    height: auto;
  }
  
  .description,
  .subDescription {
    font-size: 14px;
    color: black;
    font-weight: 600;
  }

  .grantBox {
    background-color: #00366b; /* Fondo azul oscuro */
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 20px;
  }
  
  .textContent {
    max-width: 60%;
  }
  
  .grantTitle {
    font-size: 16px;
    font-weight: bold;
  }
  
  .grantSubtitle {
    font-size: 12px;
    margin-top: 5px;
  }
  
  .amountContent {
    text-align: right;
  }
  
  .amountText {
    font-size: 36px;
    font-weight: bold;
  }
  
  .amountSubText {
    font-size: 14px;
    font-weight: bold;
  }
  
